* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Wisdom Script';
    src: url('./fonts/WisdomScriptAJ.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat-v12-latin-regular.woff');
    src: url('./fonts/montserrat-v12-latin-regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat-v12-latin-700.woff');
    src: url('./fonts/montserrat-v12-latin-700.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/roboto-slab-v8-latin-regular.woff');
    src: url('./fonts/roboto-slab-v8-latin-regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('./fonts/DroidSerif-Italic.woff');
    font-weight: normal;
    font-style: italic;
}

.wrapper {
    width: 940px;
    margin: 0 auto 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li { 
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    font-family: 'Wisdom Script';
    color: rgb(254, 209, 54);
    font-size: 26px;
    line-height: 40.99pt;
    font-weight: 300;
    padding-bottom: 10px;
    text-decoration: none;
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    /* width: 476px; */
    justify-content: space-between;
}

.site-navigation li {
    font-size: 14px;
    margin-right: 42px; 
    line-height: 40.99pt; 
}

.site-navigation li:last-child {
    margin-right: 0;  
}

.site-navigation a {
    display: block;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-family: 'Montserrat';
    font-weight: 700;
    /* padding-bottom: 10px; */
}

.site-navigation a:hover,.site-navigation a:focus {
    color: rgb(254, 209, 54);
}

header {
    padding-bottom: 108px;
    padding-top: 30px;
}

h2 {
    text-transform: uppercase;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-bottom: 22px;
    font-size: 39.99pt;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 48px;
}

p {
    text-align: center;
    font-family: 'Droid Serif';
    font-weight: italic;
    font-size: 16px;
    margin-bottom: 36px;
    color: rgb(119, 119, 119);
}

.features {
    padding-bottom: 102px;
}

.features-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.features-list-item {
    width: 290px;
    height: 223px;
    text-align: center;
}

.features-list-item h3 {
    font-family: 'Montserrat'; 
    font-weight: bold;  
    font-size: 18px;
    line-height: 55px;
    color:rgb(34, 34, 34);
}

.features-list-item p {
    font-family: 'Roboto Slab';  
    font-weight: normal;
    margin-bottom: 16px;
    font-size: 14px;
    color: rgb(119, 119, 119);
    line-height: 24px;
}

.features-list-item img {
    margin: 25px auto 0;
}

.contact-us-wrapper {
    background: rgb(34, 34, 34) url(./img/Map.png) no-repeat;
    padding: 90px 0 190px 0;
    background-position:  top 100px right 0px;
}

.contact-us-wrapper h2 {
    color: rgb(255, 255, 255);

}

.form-wrapper {
    height: 212px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 30px;
}

.form-wrapper input, textarea {
    width: 455px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 20px;
}

.form-wrapper input {
    height: 55px;
}

textarea {
    height: 212px;
}    

::placeholder {
    opacity: 1;
    color: rgb(187, 187, 187);
}

form {
    position: relative;
}  

input[type="button"] {
    width: 238px;
    height: 64px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    /* padding: 8px 0 8px 0px; */
    text-transform: uppercase;
    background-color: rgb(254, 209, 54);
    color:rgb(255, 255, 255);
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(254, 209, 54);
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Montserrat';
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

input:invalid:hover,textarea:invalid:hover {
    outline: rgb(129, 4, 4) solid;  
}

input:required:valid,textarea:valid {
    outline: rgb(2, 71, 17) solid;
}